*{
    margin: 0;
    padding: 0;
    /* background-color: black; */
}

.containers{
    
display: flex;
    
    text-align: center;
    padding: 20px;
    color: wheat;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(0, 0, 0);
}

.box{
    display: flex;
    width: 130px;
    height: 130px;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(9, 190, 245); */
    /* background-color: rgb(58 217 116); */
    background-color: rgb(75 255 141);
    color: rgb(10, 2, 32);
    font-size: 3.5rem;
    font: bold;
    border: 2px solid ;
    border-radius: 20px;
    font-family: 'Fuzzy Bubbles', cursive;
}
.box:hover{
    background-color: rgb(58 217 116);
    transition: 0.4s ;
    transform: 2ms;
}
.moveCounter{
    display: flex;
    align-items: center;
    justify-content: center;

}
.movecntr{
    color: white;
    background-color: black;
    padding: 10px;
    margin: 10px;
    font-size: 2rem;
    
    
}
body{
    background-color: black;
}
.gaming{
    /* display: grid; */
    /* grid-template-columns: 5fr  5fr; */
    /* height: 100%; */
    background-color: black;
    /* padding: 30px; */
}
.title{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-family: 'Fuzzy Bubbles', cursive;
    /* font-family: 'Roboto Mono', monospace; */

}

.footer{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}
.options{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    font-family: 'Fuzzy Bubbles', cursive;
}
#restart{
    background-color: rgb(11, 32, 148);
    color: white;
    /* width: 100%;
    height: 30%; */
    border-radius: 10px;
    margin-bottom: 20%;
    margin-top: 20%;
    border: 2px solid white;
    font-size: 1.5rem;
}

#test{
    background-color: rgb(11, 32, 148);
    color: white;
    /* width: 100%;
    height: 30%; */
    /* margin-bottom: 10px; */
    border-radius: 10px;
    border: 2px solid white;
    font-size: 1.5rem;
}
